.order-details-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.order-details-content h1 {
    font-size: 28px;
    font-weight: 400;
}

.basic-info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

#order-basic-info {
    display: flex;
    flex-direction: row;
}

#first-p {
    padding-right: 15px;
    border-right: 1px solid #DDDDDD;
    font-size: 14px;
    font-weight: 400;
}

#second-p {
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
}

#edit-delivery-btn {
    height: 30px;
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    /* position: relative; */
    /* left: 200px; */
    /* text-align: center; */
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 200px;
}

#edit-delivery-btn:hover {
    background-color: #f7fafa;
}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #D5D9D9;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.details h3 {
    font-size: 14px;
    font-weight: 700;
    color: #0f1111;
}

.details p {
    font-size: 14px;
    font-weight: 400;
}

.shipments {
    border: 1px solid #D5D9D9;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.shipments img {
    max-width: 100px;
    max-height: 100px;
}

.shipments-header {
    /* border-bottom: 1px solid #D5D9D9; */
    background-color: #F0F2F2;
    border-radius: 10px;
    padding-left: 10px;
}

.shipments-header h2 {
    font-size: 18px;
    font-weight: 700;
}

.orderDetails-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #D5D9D9;
    padding: 10px;
}

.image-buyagain {
    display: flex;
    flex-direction: row;
}

#buy-again {
    padding-left: 20px;
}

#date {
    position: relative;
    bottom: 5px;
    left: 40px;
}

#buy-again-btn {
    background-color: #FFE54C;
    appearance: button;
    /* background-color: #1652F0;
  border: 1px solid #1652F0; */
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    /* color: #FFFFFF; */
    cursor: pointer;
    /* font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif; */
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
}

#buy-again-btn:hover {
    background-color: #F7CA00;
}

.fa-bag-shopping {
    padding-right: 5px;
}

#orderitem-price {
    color: #B13F45;
}

.details-review-btn {
    margin-top: 40px;
}

#delivery-sec {
    width: 400px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@media screen and (max-width:1000px) {
    .order-details {
        background-color: white;
        height: 100%;
        width: 114%;
        margin-left: -5px;
        margin-right: 5px;
        padding-bottom: 400px;
    }
}

@media screen and (min-width:1001px) {
    .order-details {
        background-color: white;
        height: 150%;
        width: 201%;
        margin-left: -5px;
        margin-right: 5px;
        padding-bottom: 400px;
    }
}

@media screen and (min-width:1401px) {
    .order-details {
        background-color: white;
        width: 101%;
        height: 100%;
        margin-left: -5px;
        margin-right: 5px;
        padding-bottom: 400px;
    }
}
