nav {
    width: 100%;
    margin-top: -8px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    list-style: none;
    margin: auto;
    padding: 10px 10px;
    align-items: center;
    background-color: #131921;
    margin-left: -10px;
    margin-right: -10px;
}

.navbar li,
a {
    color: white;
    text-decoration: none;
}

.navbar-icon {
    max-height: 40px;
    max-width: 110px;
    margin-left: 5px;
}

#cart {
    max-height: 40px;
    position: relative;
    top: 25px;
}

.cart-icon {
    max-height: 40px;
}

#cart p {
    color: #F08804;
    text-decoration: none;
    position: relative;
    left: 21px;
    bottom: 57px;
}

#cart-icon-link {
    padding-right: 20px;
}

#nav-signup {
    padding-right: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#logout-btn {
    border: none;
    padding-left: 55px;
}

#logout-btn:hover {
    color: #F08804;
    cursor: pointer;
}
