@media screen and (max-width:1000px) {
    .footer {
        position: relative;
        margin-bottom: 0;
        margin-top: 180px;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        width: 102%;
    }

    #top {
        background-color: #485769;
    }

    #middle {
        background-color: #232F3E;
    }

    #bottom {
        background-color: #131A22;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #about-links {
        font-size: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (min-width:1001px) {
    .footer {
        position: relative;
        margin-bottom: 0;
        margin-top: 180px;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        width: 101%;
    }

    #top {
        background-color: #485769;
    }

    #middle {
        background-color: #232F3E;
    }

    #bottom {
        background-color: #131A22;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #about-links {
        font-size: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media screen and (min-width:1401px) {

    .footer {
        position: relative;
        margin-bottom: 0;
        margin-top: 180px;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        width: 102%;
    }

    #top {
        background-color: #485769;
    }

    #middle {
        background-color: #232F3E;
    }

    #bottom {
        background-color: #131A22;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #about-links {
        font-size: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
}
