.all-orders {
    background-color: white;
}

.all-orders>h1 {
    color: black;
}

.order-item-card {
    border: 1px solid gray;
    border-radius: 10px;
    padding-bottom: 15px;
}

.order-item img {
    max-width: 200px;
    max-height: 200px;
}
