/* TODO Add site wide styles */
html,
button,
input {
    font-family: "Amazon Ember", Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
}

body {
    background-color: #EAEDED;
    overflow-x: hidden;
}

#form-styling {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    display: flex;
    flex-direction: column;
}

#form-styling input[type=text],
#form-styling input[type=number],
#form-styling input[type=email],
#form-styling input[type=password],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin-bottom: 5px;
    margin-left: 5px;
    outline: none;
}

#form-styling button {
    background-color: #F1C966;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    height: 29px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-top: 15px;
    margin-right: 10px
}


#form-styling button:hover {
    background-color: #F2CC6D;
}


#modal-btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
}

#modal-btn:hover {
    background-color: rgb(249, 250, 251);
}
