.all-checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#address {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

#payment {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.checkout-item img {
    max-width: 200px;
    max-height: 200px;
}

.checkout-item {
    border: 1px solid gray;
    border-radius: 15px;
}

#bottom-order {
    border: 1px solid gray;
    border-radius: 15px;
}

.right-order {
    border: 1px solid gray;
    border-radius: 15px;
}
