html {
    background-color: #EAEDED;
}

.all-items {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
    /* background-color: #EAEDED; */
}

.item-card {
    /* border: 1px solid gray */
    background-color: white;
}

.item-card img {
    max-height: 300px;
    max-width: 300px;
}
