
.login-form {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    width: 400px;
    margin-top: 40px;
}

.login-form h1 {
    font-size: 28px;
    font-weight: 400;
    color: #111111;
}

.login-form label {
    font-size: 13px;
    font-weight: 700;
    color: #111111;
}

.login-form input {
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    padding: 7px;
    outline: none;
    width: 100%;
}

.login-form-page button {
    width: 100%;
    background-color: #F1C966;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 29px;
    font-size: 13px;
    padding: 0 11px;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
    line-height: 19px;
}

.login-form-page button:hover {
    background-color: #F1C454;
}

#new-demo {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #DDDDDD;
}

#new-demo p {
    font-size: 12px;
    font-weight: 400;
    color: #111111;
}

#new-p {
    margin-left: 50px;
}

#or-p {
    margin-left: 55px;
}

@media screen and (max-width:1000px) {
    .login-form-page {
        background-color: white;
        padding-bottom: 330px;
        padding-top: 10px;
        margin-left: -8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 115%;
    }
}

@media screen and (min-width:1001px) {
    .login-form-page {
        background-color: white;
        padding-bottom: 330px;
        padding-top: 10px;
        margin-left: -8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 153%;
        width: 201%;
    }
}

@media screen and (min-width:1401px) {
    .login-form-page {
        background-color: white;
        padding-bottom: 330px;
        padding-top: 10px;
        margin-left: -8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 101%
    }
}
