.search-input {
    display: flex;
    flex-direction: row;
}

#search-input-area {
    width: 1000px;
    border: none;
    padding: 10px;
}

#search-btn {
    padding: 10px;
    background-color: #F0BB76;
    border: none;
}


.search-result {
    border: 1px solid #DADADA;
    position: absolute;
    width: 1050px;
    background-color: white;

}

#result-p {
    color: black;
    padding: 5px;
    margin: 0;
}

#result-p:hover {
    background-color: #EEEEEE;
}
