.all-reviews {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-card {
    /* border: 1px solid gray */
    /* margin-left: 100px; */
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    left: 300px;
    /* border-bottom: 1px solid #E7E7E7; */
}

.review-card img {
    border-radius: 50%;
    max-width: 50px;
    height: 50px;
    padding-right: 15px;
}

.write-review {
    /* border: 1px solid green */
    width: 100%;
    margin-left: 100px;
}

#write-review-btn {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    /* text-align: center; */
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 50%;
}


#write-review-btn:hover,
#delete-review-btn:hover,
#edit-review-btn:hover {
    background-color: #f7fafa;
}

#delete-review-btn,
#edit-review-btn {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    /* text-align: center; */
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 50%;
}

#review-card-user {
    display: flex;
    flex-direction: row;
}

#review-card-rating {
    display: flex;
    flex-direction: row;
}

#review-card-rating p{
    padding-right: 15px;
}
