.all-reviews {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center */
    /* padding-left: 40px;
    padding-right: 40px; */
}

.write-review {
    margin-right: 200px;
}

/* .review-card {
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    right: 300px;
    margin-right: 20px;
} */

#reviews-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.review-card img {
    border-radius: 50%;
    max-width: 50px;
    height: 50px;
    padding-right: 15px;
}

#write-review-btn {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 50%;
}


#write-review-btn:hover,
#delete-review-btn:hover,
#edit-review-btn:hover {
    background-color: #f7fafa;
}

#delete-review-btn,
#edit-review-btn {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 50%;
}

#review-card-user {
    display: flex;
    flex-direction: row;
}

#review-card-rating {
    display: flex;
    flex-direction: row;
}

#review-card-rating p {
    padding-right: 15px;
}
